<form method="recipes" action="/recipes">
   Name: <input type="text" name="name">
   Ingredients: <input type="text" name="content">
   Cook Time: <input type="integer" name="content">
   <input type="submit" value="submit">
</form>
